Part A

In [32]:
import pandas as pd
import json
import pygeohash
import math

In [16]:
df = pd.read_parquet('~/dsc650/dsc650/assignments/assignment03/results/routes.parquet')

In [17]:
df.head()

,airline,src_airport,dst_airport,codeshare,equipment
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2]
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2]
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2]
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2]
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2]

In [18]:
def key(row):
    try:
        airline = row.airline.get('iata')
        src_airport = row.src_airport['iata']
        dst_airport = row.dst_airport['iata']
        key = f'{src_airport}{dst_airport}{airline}'
    except:
        key = 'BBBBBBBB'
    return(key)

In [19]:
df['key'] = df.apply(key, axis=1)

In [20]:
df.head()

,airline,src_airport,dst_airport,codeshare,equipment,key
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B

In [21]:
def partition(row):
    key_first_letter = row.key[0]
    if key_first_letter in ['C','D']:
        key_first_letter = 'C-D'
    if key_first_letter in ['E','F']:
        key_first_letter = 'E-F'
    if key_first_letter in ['G','H']:
        key_first_letter = 'G-H'
    if key_first_letter in ['I','J']:
        key_first_letter = 'I-J'
    if key_first_letter in ['K','L']:
        key_first_letter = 'K-L'
    if key_first_letter in ['O','P']:
        key_first_char = 'O-P'
    if key_first_letter in ['Q','R']:
        key_first_letter = 'Q-R'
    if key_first_letter in ['S','T']:
        key_first_char = 'S-T'
    if key_first_letter in ['W','X']:
        key_first_letter = 'W-X'
    if key_first_letter in ['Y','Z']:
        key_first_letter = 'Y-Z'
    return(key_first_letter)

In [22]:
df['kv_key'] = df.apply(partition, axis=1)

In [23]:
df.head()

,airline,src_airport,dst_airport,codeshare,equipment,key,kv_key
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B,A
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B,A
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B,A
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B,C-D
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B,C-D

In [24]:
df.to_parquet('./results/kv/',partition_cols=['kv_key'])

Part B

In [25]:
import hashlib

def hash_key(key):
    m = hashlib.sha256()
    m.update(str(key).encode('utf-8'))
    return m.hexdigest()

In [26]:
def make_hash_key(row):
    key = row.key
    return(hash_key(key)[0])

In [27]:
df['hash_key'] = df.apply(make_hash_key, axis=1)

In [28]:
df

,airline,src_airport,dst_airport,codeshare,equipment,key,kv_key,hash_key
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B,A,6
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B,A,9
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B,A,1
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B,C-D,3
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B,C-D,1
...,...,...,...,...,...,...,...,...
67658,"{'airline_id': 4178, 'name': 'Regional Express...","{'airport_id': 6334.0, 'name': 'Whyalla Airpor...","{'airport_id': 3341.0, 'name': 'Adelaide Inter...",False,[SF3],WYAADLZL,W-X,f
67659,"{'airline_id': 19016, 'name': 'Apache Air', 'a...","{'airport_id': 4029.0, 'name': 'Domodedovo Int...","{'airport_id': 2912.0, 'name': 'Manas Internat...",False,[734],DMEFRUZM,C-D,8
67660,"{'airline_id': 19016, 'name': 'Apache Air', 'a...","{'airport_id': 2912.0, 'name': 'Manas Internat...","{'airport_id': 4029.0, 'name': 'Domodedovo Int...",False,[734],FRUDMEZM,E-F,e
67661,"{'airline_id': 19016, 'name': 'Apache Air', 'a...","{'airport_id': 2912.0, 'name': 'Manas Internat...","{'airport_id': 2913.0, 'name': 'Osh Airport', ...",False,[734],FRUOSSZM,E-F,8
67662,"{'airline_id': 19016, 'name': 'Apache Air', 'a...","{'airport_id': 2913.0, 'name': 'Osh Airport', ...","{'airport_id': 2912.0, 'name': 'Manas Internat...",False,[734],OSSFRUZM,O,6

In [29]:
df.to_parquet('./results/hash/',partition_cols=['hash_key'])

Part C

In [30]:
location_data = [
    {
        "location": "west",
        "city": "The Dalles, Oregon",
        "latitude": 45.5945645,
        "longitude": -121.1786823
    },
    {
        "location": "central",
        "city": "Papillion, NE",
        "latitude": 41.1544433,
        "longitude": -96.0422378
    },
    {
        "location": "east",
        "city": "Loudoun County, Virginia",
        "latitude": 39.08344,
        "longitude": -77.6497145
    }
]

In [33]:
for location in location_data:
    location['geohash'] = pygeohash.encode(location['latitude'], location['longitude'])
    
location_data

[{'location': 'west',
  'city': 'The Dalles, Oregon',
  'latitude': 45.5945645,
  'longitude': -121.1786823,
  'geohash': 'c21g6s0rs4c7'},
 {'location': 'central',
  'city': 'Papillion, NE',
  'latitude': 41.1544433,
  'longitude': -96.0422378,
  'geohash': '9z7dnebnj8kb'},
 {'location': 'east',
  'city': 'Loudoun County, Virginia',
  'latitude': 39.08344,
  'longitude': -77.6497145,
  'geohash': 'dqby34cjw922'}]

In [34]:
def location_search(latitude, longitude, location_data):
    try:
        search_hash = pygeohash.encode(latitude, longitude)
        closest_location_distance = math.inf
        for location in location_data:
            distance = pygeohash.geohash_haversine_distance(search_hash, location['geohash'])
            if distance < closest_location_distance:
                closest_location = location
                closest_location_distance = distance
        return(closest_location['location'])
    except Exception as e:
        return('central')

In [37]:
def make_key(row):
    try:
        latitude = row.src_airport['latitude']
        longitude = row.src_airport['longitude']
    except:
        latitude = None
        longitude = None
    key = location_search(latitude, longitude, location_data)
    return(key)

In [39]:
location_search(31.949288, 55.2739, location_data)

'east'

In [41]:
location_search(65.794235,-92.521243, location_data)

'central'

In [42]:
df['location'] = df.apply(make_key, axis=1)

In [43]:
df.head(5)

,airline,src_airport,dst_airport,codeshare,equipment,key,kv_key,hash_key,location
0,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2965.0, 'name': 'Sochi Internat...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],AERKZN2B,A,6,east
1,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],ASFKZN2B,A,9,east
2,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2966.0, 'name': 'Astrakhan Airp...","{'airport_id': 2962.0, 'name': 'Mineralnyye Vo...",False,[CR2],ASFMRV2B,A,1,east
3,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 2990.0, 'name': 'Kazan Internat...",False,[CR2],CEKKZN2B,C-D,3,west
4,"{'airline_id': 410, 'name': 'Aerocondor', 'ali...","{'airport_id': 2968.0, 'name': 'Chelyabinsk Ba...","{'airport_id': 4078.0, 'name': 'Tolmachevo Air...",False,[CR2],CEKOVB2B,C-D,1,west

In [44]:
df.to_parquet('./results/geo/', partition_cols=['location'])

Part D

In [47]:
def balance_partitions(keys, num_partitions):
    partition_size, remainder = divmod(len(keys), num_partitions) 
    partitions = []
    for i in range(num_partitions):
        start_index = i * partition_size + min(i, remainder)
        finish_index = (i + 1) * partition_size + min(i + 1, remainder)
        partition = keys[start_index : finish_index]
        partitions.append(partition)
    return partitions

In [50]:
list_key = [1,3,2,4,6,5,7,8, 9]

In [51]:
for i in range(1,len(list_key)+1):
    print(f'{i} partitions: {balance_partitions(list_key, i)}')

1 partitions: [[1, 3, 2, 4, 6, 5, 7, 8, 9]]
2 partitions: [[1, 3, 2, 4, 6], [5, 7, 8, 9]]
3 partitions: [[1, 3, 2], [4, 6, 5], [7, 8, 9]]
4 partitions: [[1, 3, 2], [4, 6], [5, 7], [8, 9]]
5 partitions: [[1, 3], [2, 4], [6, 5], [7, 8], [9]]
6 partitions: [[1, 3], [2, 4], [6, 5], [7], [8], [9]]
7 partitions: [[1, 3], [2, 4], [6], [5], [7], [8], [9]]
8 partitions: [[1, 3], [2], [4], [6], [5], [7], [8], [9]]
9 partitions: [[1], [3], [2], [4], [6], [5], [7], [8], [9]]